{% extends "layout.html" %}
{% block style %}
{% endblock %}
{% block content %}
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">{{friend.username}}님의 플레이 리스트에 오신 것을 환영합니다.</font>
          </font>
        </h1>
        <p class="lead text-body-secondary">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">어서 와서 구경하세요!.</font>
          </font>
        </p>
        <p>
          <a href="https://getbootstrap.kr/docs/5.3/examples/album-rtl/#" class="btn btn-primary my-2">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">주요 행동 촉구</font>
            </font>
          </a>
          <a href="https://getbootstrap.kr/docs/5.3/examples/album-rtl/#" class="btn btn-secondary my-2">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">보조 작업</font>
            </font>
          </a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for playlist in playlists %}
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="{{playlist.img}}" role="img" aria-label="자리표시자: 썸네일" preserveaspectratio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{playlist.name}}</text>
              </svg>
              <div class="card-body">
                <p class="card-text">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">플레이리스트 이름</font>
                  </font>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">수정</font>
                      </font>
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">삭제</font>
                      </font>
                    </button>
                  </div>
                  <small class="text-body-secondary">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">시간</font>
                    </font>
                  </small>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}   
{% block script %}
{% endblock %}   