<!doctype html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Music Share</title>
    <!-- 색상 변경 모드 CSS -->
    <link rel="stylesheet" href="/static/css/color-mode-style.css"/>
    <!-- Coustom CSS -->
    <link rel="stylesheet" href="/static/css/style.css"/>
    <!-- 부트스트랩 아이콘 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- 부트스트랩 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- 각종 아이콘에 대한 설정 -->
    <link rel="apple-touch-icon" href="/static/img/music-note-64.png" sizes="180x180">
    <link rel="icon" href="/static/img/music-note-32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/static/img/music-note-16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="https://getbootstrap.kr/docs/5.3/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/static/img/music-note-64.png" color="#712cf9">
    <link rel="icon" href="/static/img/music-note-64.ico">
    <meta name="theme-color" content="#712cf9">
    {% block style %}{% endblock %}
  </head>

  <body>
    <!-- 컬러 테마 변경 기능 -->
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
      <symbol id="check2" viewbox="0 0 16 16">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
      </symbol>
      <symbol id="circle-half" viewbox="0 0 16 16">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
      </symbol>
      <symbol id="moon-stars-fill" viewbox="0 0 16 16">
        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"></path>
        <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"></path>
      </symbol>
      <symbol id="sun-fill" viewbox="0 0 16 16">
        <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
      </symbol>
    </svg>
    <div class="theme-toggle" id="themeToggle">
      <div class="toggle-circle"></div>
    </div>
    <!-- 상단 메뉴바 / 친구 목록 , 로그인, 사용자 정보 설정에 대한 설정 -->
    <header data-bs-theme="dark">
      <div class="collapse text-bg-dark" id="navbarHeader" style="height:auto;">
        <div class="container">
          <div class="row pt-2">
            <div class="col">
              <div class="hstack gap-1">
                <div class="p-2">
                  <font style="font-size: 25px;">Friends</font>
                </div>
                <div class="p-2">
                  <a class="col" type="button" data-bs-toggle="modal" data-bs-target="#addFriendModal" style="font-size: 25px;">
                    <i class="bi bi-plus-circle" style="width:40px; height:40px;"></i>
                  </a>
                </div>
              </div>   
              <div class="row" style="height:12vh">  
                <!-- 왼쪽 버튼 -->
                <div class="col p-0" onclick="scrollBack()" style="display:grid; align-items:center;">    
                  <i class="bi bi-caret-left-fill" style="font-size:40px"></i>
                </div>         

              <!-- 친구 목록 -->
                <div class="items col-11 p-0" id="friendsList"></div>

                <!-- 오른쪽 버튼 -->
                <div class="col p-0" onclick="scrollForward()" style="display:grid; align-items:center;">
                  <i class="bi bi-caret-right-fill" style="font-size:40px"></i>
                </div>
              </div>           
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="탐색 전환">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="p-2 ms-auto ">
            <a onclick="location.href='/logout'">
              <i class="bi bi-box-arrow-right" style="font-size:25px;color:white;"></i>
            </a>
          </div>
          <div class="p-2">
            <a data-bs-toggle="modal" data-bs-target="#updateModal" style="">
              <i class="bi bi-gear-fill" style="font-size:25px; color:white;"></i>
            </a>
          </div>
        </div>
       
      </div>
    </header>
    
    <!-- contetn 삽입부 -->
    {% block content %}{% endblock %}

    <!-- 이승현 : 회원 정보 수정 모달 -->
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" style="width:120%">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="ModalLabel">Account Information</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <ul class="nav nav-tabs justify-content-center">
              <li class="nav-item">
                <a id="changeImagedNav" class="nav-link p-0 m-0" onclick="changeImage()" style="font-size:13px">Change User Image</a>
              </li>
              <li class="nav-item">
                <a id="changePasswordNav" class="nav-link" onclick="changePassword()" style="font-size:13px">Change Password</a>
              </li>
              <li class="nav-item">
                <a id="changeNamedNav" class="nav-link" onclick="changeName()" style="font-size:13px">Change Name</a>
              </li>
              <li class="nav-item">
                <a id="withdrawNav" class="nav-link" onclick="withdraw()" style="font-size:13px">Withdrawal</a>
              </li>
            </ul>
            <form class="p-2" method="POST" id="userModal" style="padding:10px" ></form>
            <button id="userButton" type="button" class="btn btn-danger" onclick="signup()" style="width:100%">Confirm</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 사용자 검색 및 친구 추가 모달 -->
    <div class="modal fade" id="addFriendModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="ModalLabel">Search by ID</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div>
              <input type="text" class="form-control mb-3" id="saerchInput" name="searchid" placeholder="ID">
            </div>
            <button class="btn btn-danger mb-3" onclick="search()" style="width:100%">Search</button>
            <div id="result" class="p-2"></div>
          </div>
        </div>
      </div>
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <!--{{ message }}-->
        <script>		
          alert('{{message}}')   //이 부분이 중요
        </script>
        {% endfor %}
      {% endif %}
    {% endwith %} 
    <!-- Footer 정의 -->
    <footer style>
      <div class="footer-content" style="max-width: 1320px; font-size:15px; color:gray;">
        <p>The project name is Music Share.</p>       
        <p>Our team created this web page to complete a project conducted by <a href="https://spartacodingclub.kr/">"Sparta Coding Club"</a>.</p>
         <p>Contact: <a href="mailto:dltmdgus9661@gmail.com"><i class="bi bi-envelope"></i> dltmdgus9661@gmail.com</a></p>
        <p>GitHub Link: <a href="https://github.com/InnovationCampTeam/MusicShare" target="_blank"><i class="bi bi-github"></i> https://github.com/InnovationCampTeam/MusicShare</a></p>
        <p>Project Records: <a href="https://www.notion.so/2024-14-ac02e28f97144d15a099c4cedd3694ed" target="_blank"><i class="bi bi-journal"></i> Notion</a></p>
      </div>
    </footer>
    
  <div class="legal-notice">
      <p>&copy; Music Share Team. All rights reserved.</p>
  </div>
    
    <!-- Script 삽입부 -->
    {% block script %}{% endblock %}
    <script type="text/javascript">

      // 이승현 : 사용자 정보 관리를 위한 모달 기능
      var usermodal = $("#userModal");
      var button = $("#userButton");
      var result = $("#result")      
      var navlinks = $("#userNav")
      //____________________________모달 선택에 따른 형태 변경을 위한 기능_________________________________
      // 이승현 : HTML 요소 생성하는 기능
      function inputHTML(id, type, name, text) {
        return '<div class="mb-3"><label for="' + id + '" class="form-label">' + text + '</label>' + '<input type="' + type + '" class="form-control" id="' + id + '" aria-describedby="' + id + '" name="' + name + '">'
      }   
      
      function changeImage() {
        $("#changeImagedNav").attr("class","nav-link active ");
        $("#changePasswordNav").attr("class","nav-link");
        $("#changeNamedNav").attr("class","nav-link");
        $("#withdrawNav").attr("class","nav-link");
        usermodal.fadeOut(200, function () {
          usermodal.empty();
          usermodal.innerHTML = "";    
          usermodal.append(inputHTML("exampleInputURL", "text", "url", "New Image url"));
          usermodal.fadeIn(200);
        });
        button.attr("onclick", "changeImage_Post()");
      }    

      // 이승현 : 암호 변경으로 모드 변경
      function changePassword() {
        $("#changeImagedNav").attr("class","nav-link ");
        $("#changePasswordNav").attr("class","nav-link active");
        $("#changeNamedNav").attr("class","nav-link");
        $("#withdrawNav").attr("class","nav-link");
        usermodal.fadeOut(200, function () {
          usermodal.empty();
          usermodal.innerHTML = "";    
          usermodal.append(inputHTML("exampleInputPassword", "password", "password", "Current Password"));
          usermodal.append(inputHTML("exampleInputNewPassword", "password", "newpassword", "New Password"));
          usermodal.append(inputHTML("exampleInputNewPasswordCheck", "password", "newpasswordCheck", "Check Password"));
          usermodal.fadeIn(200);
        });
        button.attr("onclick", "changePassword_Post()");
      }    
      // 이승현 : 이름 변경으로 모드 변경
      function changeName() {
        $("#changeImagedNav").attr("class","nav-link ");
        $("#changePasswordNav").attr("class","nav-link ");
        $("#changeNamedNav").attr("class","nav-link active");
        $("#withdrawNav").attr("class","nav-link");
        usermodal.fadeOut(200, function () {
          usermodal.empty();
          usermodal.innerHTML = "";
          usermodal.append(inputHTML("exampleInputNewName", "text", "newname", "New name"));
          usermodal.fadeIn(200);
        });
        button.attr("onclick", "changeName_Post()");
      }    
      // 이승현 : 탈퇴로 변경
      function withdraw() {        
        $("#changeImagedNav").attr("class","nav-link ");
        $("#changePasswordNav").attr("class","nav-link ");
        $("#changeNamedNav").attr("class","nav-link");
        $("#withdrawNav").attr("class","nav-link active");
        usermodal.fadeOut(200, function () {
          usermodal.empty();
          usermodal.innerHTML = "";
          usermodal.append("<p>All your information will be deleted.</p>");
          usermodal.fadeIn(200);
        });
        button.attr("onclick", "withdraw_Post()");
      }
    
      //____________________________모달 내부에서 기능을 실행하기 위한 요청 함수_________________________________
      function changeImage_Post(){
        $.ajax({
          url: {{url_for('changeImage')}}, // 요기에
          type: 'POST',
          data: $("#userModal").serialize(),
          dataType: 'JSON',
          success: function (data) {
            if (data.result == "success") {
              window.location.href = data.redirect;
            } else {
              alert(data.message);
            }
          },
          error: function (xhr, status) {
            alert(xhr + " : " + status);
          }
        });
      }

      // 이승현 : 암호 변경 요청
      function changePassword_Post() {
        $.ajax({
          url: {{url_for('changePassword')}}, // 요기에
          type: 'POST',
          data: $("#userModal").serialize(),
          dataType: 'JSON',
          success: function (data) {
            if (data.result == "success") {
              window.location.href = data.redirect;
            } else {
              alert(data.message);
            }
          },
          error: function (xhr, status) {
            alert(xhr + " : " + status);
          }
        });
      }    
      // 이승현 : 이름 변경 요청
      function changeName_Post() {
        $.ajax({
          url: {{ url_for('changeName')}}, // 요기에
          type: 'POST',
          data: $("#userModal").serialize(),
          dataType: 'JSON',
          success: function (data) {
            if (data.result == "success") {
              window.location.href = data.redirect;
            } else {
              alert(data.message);
            }
          },
          error: function (xhr, status) {
            alert(xhr + " : " + status);
          }
        });
      }    
      // 이승현 : 탈퇴 요청
      function withdraw_Post() {
        $.ajax({
          url: {{url_for('withdraw')}}, // 요기에
          type: 'POST',
          data: $("#userModal").serialize(),
          dataType: 'JSON',
          success: function (data) {
            if (data.result == "success") {
              window.location.href = data.redirect;
            } else {
              alert(data.message);
            }
          },
          error: function (xhr, status) {
            alert(xhr + " : " + status);
          }
        });
      }

      //____________________________다른 사용자를 검색하는 기능_________________________________
      var searchURL = "{{searchURL}}";
      // 로그인 값을 받아 전달하는 기능
      function search() {
        if($("#saerchInput").val().length < 4 ){
          alert("Please input at least 4 characters.");
        }else{
          $.ajax({
            url: searchURL,
            type: 'GET',
            data: {
              input: $("#saerchInput").val()
            },
            dataType: 'JSON',
            success: function (data) {
              if (data.result == "success") {
                result.empty();
                if (data.users.length < 1){
                  result.append('<p>No Result</p>')
                }else{
                  for (var i = 0; i < data.users.length; i++) {
                    user = data.users[i]
                    result.append(userHTML(user.id, user.username))
                  }
                }
                
              } else {
                alert(data.message);
              }
            },
            error: function (xhr, status) {
              alert(xhr + " : " + status);
            }
          });
        }        
      }

      // 검색 결과 아이템에 대한 html을 불러오는 함수
      function userHTML(id, name) {
        id_formatted = "'" + id + "'"
        return '<hr class="m-1"><div class="row"><div class="col-5 mb-0"><p class="mb-0">' + id + '</p></div><div class="col-5"><p class="mb-0"">' + name + '</p></div><div class="col class="col-2><button type="button" class="btn btn-danger p-0" onclick="addFriend(' + id_formatted + ')" style="width:100%;">+</button></div></div>'
      }

      //____________________________공유된 사용자 목록을 불러오는 기능___________________________
      var friendsList = $("#friendsList")
      var loadURL = "{{loadURL}}";
      function loadFriend() {
        $.ajax({
          url: loadURL,
          type: 'GET',
          data: {},
          dataType: 'JSON',
          success: function (data) {
            if (data.result == "success") {
              friendsList.empty();
              for (var i = 0; i < data.friends.length; i++) {
                friend = data.friends[i]
                id_formatted = "'" + friend.id + "'"
                src = "/static/img/user.png"
                if(friend.img){
                  src = friend.img
                }
                img = '<img src="'+ src +'" style="width: 65px; height:65px; object-fit: cover; border-radius: 70%; border:4px solid white;" onclick="move('+ id_formatted + ')"></img>'
                
                friendsList.append('<div class="item p-1" ><div class="position-relative" style="height:auto;">' + img + '<a class="del-button position-absolute top-0 start-100 translate-middle" onclick="deleteFriend(' + id_formatted + ')"><span class="badge rounded-pill bg-danger mt-4">X</span></a><p class="m-0">' + friend.username + '</p></div></div>')
              }
            } else {
              alert(data.message);
            }
          },
          error: function (xhr, status) {
            alert(xhr + " : " + status);
          }
        });
      }
      // 페이지 이동 함수    
      function move(id){
        link = '/friends/playlist/' + id
        location.href=link;
      }
    
      //____________________________사용자에게 공유를 선언하는 기능___________________________
      var addURL = "{{addURL}}";
      function addFriend(id) {
        $.ajax({
          url: addURL,
          type: 'GET',
          data: {
            id: id
          },
          dataType: 'JSON',
          success: function (data) {
            if (data.result == "success") {
              search()
              loadFriend()
            } else {
              alert(data.message);
            }
          },
          error: function (xhr, status) {
            alert(xhr + " : " + status);
          }
        });
      }
    
      //____________________________사용자에게 공유를 제거하는 기능___________________________
       var deleteURL = "{{deleteURL}}"
      function deleteFriend(id) {
        $.ajax({
          url: deleteURL,
          type: 'GET',
          data: {
            id: id
          },
          dataType: 'JSON',
          success: function (data) {
            if (data.result == "success") {
              loadFriend()
            } else {
              alert(data.message);
            }
          },
          error: function (xhr, status) {
            alert(xhr + " : " + status);
          }
        });
      }
    
      //____________________________친구 목록의 슬라이드 스크롤 기능___________________________
      const slider = document.querySelector('.items');
      let isDown = false;
      let startX;
      let Left;
    
      slider.addEventListener('mousedown', (e) => {
        isDown = true;
        slider
          .classList
          .add('active');
        startX = e.pageX - slider.offsetLeft;
        Left = slider.scrollLeft;
      });
      slider.addEventListener('mouseleave', () => {
        isDown = false;
        slider
          .classList
          .remove('active');
      });
      slider.addEventListener('mouseup', () => {
        isDown = false;
        slider
          .classList
          .remove('active');
      });
      slider.addEventListener('mousemove', (e) => {
        if (!isDown) 
          return;
        e.preventDefault();
        const x = e.pageX - slider.offsetLeft;
        const walk = (x - startX) * 3; //scroll-fast
        slider.scrollLeft = Left - walk;
      });      

      $(document).ready(function(){
        //초기에 친구 목록을 부르고 설정 모달의 초기값을 지정함
        loadFriend();
        changeImage();
      });

      function scrollBack(){
        $('.items').animate({scrollLeft:(Left-130)},50)
        Left = slider.scrollLeft;
      }

      function scrollForward(){
        $('.items').animate({scrollLeft:(Left+130)},100)
        Left = slider.scrollLeft;
      }



    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="/static/js/color-mode.js"></script>
  </body>
