{% extends "layout.html" %}
{% block style %}
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      width: 100%;
      height: 3rem;
      background-color: rgba(0, 0, 0, 0.1);
      border: solid rgba(0, 0, 0, 0.15);
      border-width: 1px 0;
      box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -0.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }

    .btn-bd-primary {
      --bd-violet-bg: #712cf9;
      --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

      --bs-btn-font-weight: 600;
      --bs-btn-color: var(--bs-white);
      --bs-btn-bg: var(--bd-violet-bg);
      --bs-btn-border-color: var(--bd-violet-bg);
      --bs-btn-hover-color: var(--bs-white);
      --bs-btn-hover-bg: #6528e0;
      --bs-btn-hover-border-color: #6528e0;
      --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
      --bs-btn-active-color: var(--bs-btn-hover-color);
      --bs-btn-active-bg: #5a23c8;
      --bs-btn-active-border-color: #5a23c8;
    }

    .bd-mode-toggle {
      z-index: 1500;
    }

    .bd-mode-toggle .dropdown-menu .active .bi {
      display: block !important;
    }
  </style>
{% endblock %}
{% block content %}
  <main>
    <img src="https://capsule-render.vercel.app/api?type=waving&color=auto&section=header&height=180" style="width: 100vw; position: absolute; z-index: -99"/>
    <section class="py-5 text-center container" style="position:relative">
      {% if session["img"]%}
      <img class="mb-4" src="{{session['img']}}" style="width:35vh; height:35vh; object-fit: cover; border-radius: 70%; border:15px solid white;"></img> 
      {%else%}
      <img class="mb-4" src="/static/img/user.png" style="width:35vh; height:35vh; object-fit: cover; border-radius: 70%; border:15px solid white;"></img> 
      {% endif %}     
      <div class="row py-lg-5"  style="position:absolute;width:100%; top:70%;">
        <div class="col mx-auto">
          <h1 class="fw-light" style="width:100%;">
            <font style="vertical-align: inherit">
              <font style="vertical-align: inherit; font-size: 5vh; font-weight: 700;">Welcome! {{session['username']}}</font>
            </font>
          </h1>
          <p class="lead text-body-secondary">
            <font style="vertical-align: inherit">
              <font style="vertical-align: inherit; font-size: 2vh; font-weight: 700;">Hope you have another enjoyable day with us today!</font>       
            </font>
          </p>
          <p>
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
              New Playlist
            </button>
          </p>
        </div>
      </div>
    </section>
    <!-- Modal Playlist 추가 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">New Playlist</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="modal-body">
              <form action="{{ url_for('playlist_create') }}" method="GET">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Playlist Title</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="playlist_name"/>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Cover Image URL</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" name="img_url"/>
                </div>
                <button type="submit" class="btn btn-danger" style="width:100%">
                  Create
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="album py-5 bg-body-tertiary" style="margin-top:80px">
      <div class="container">
        {% if playlists %}
          <div class="row row-cols-4 g-0">
            {% for playlist in playlists %}
              <div class="col p-2" id="playlist_item">
                <div class="card shadow-sm">
                  <a href="{{ url_for('musics', plid=playlist.plid) }}" style="position:relative" >
                    {% if playlist.img %}
                    <img class="bd-placeholder-img card-img-top" width="100%" object-fit="cover" src="{{playlist.img}}" alt="..." style="object-fit: cover; height:200px"/>
                    {%else%}
                    <img class="bd-placeholder-img card-img-top" width="100%" object-fit="cover" src="/static/img/playlist.png" alt="..." style="object-fit: cover; height:200px"/>
                    {% endif %} 
                    
                    <div class="card-body p-1" style="position:absolute; background:linear-gradient(to bottom, transparent, black); width:100%; top:70%;">
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a class="btn btn-sm btn-secondary p-1" data-bs-toggle="modal" data-bs-target="#editModal"  onclick="SetParamModal('{{playlist.plid}}','{{playlist.name}}','{{playlist.img}}')">
                            <font style="vertical-align: inherit; font-size: 1vh;">Update</font>
                          </a>
                          <a class="btn btn-sm btn-secondary p-1" onclick="deletePlaylist('{{playlist.plid}}')">
                            <font style="vertical-align: inherit; font-size: 1vh;">Delete</font>
                          </a>
                        </div>
                      </div>
                      <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color:white; font-size: 20px;font-weight:1000;">{{ playlist.name }}
                      </p>
                    </div>
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="col">
            <p style="font-size: 4vh; font-weight: 700;" align='center'>Add a playlist right now!</p>
          </div>
        {% endif %}
      </div>
    </div>

    <!-- 이승현 : 회원 정보 수정 모달 -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="ModalLabel">Playlist 수정</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="POST" id="editForm">
              <div class="mb-3">
                <label for="playlist_name" class="form-label">Playlist 이름</label>
                <input type="text" class="form-control" id="playlist_name" name="playlist_name">
              </div>
              <div class="mb-3">
                <label for="img_url" class="form-label">커버 이미지</label>
                <input type="text" class="form-control" id="img_url" name="img_url">
              </div>        
              <input type="hidden" class="form-control" id="editplid" name="editplid">    
            </form>
            <button type="button" class="btn btn-danger" onclick="editPlaylist()">확인</button>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
{% block script %}
<script>
  editplid = ""
  function SetParamModal(plid,name,img){
    $("#editplid").val(plid);
    $("#playlist_name").val(name)
    $("#img_url").val(img)
  }

  function editPlaylist() {
    $.ajax({
      url: "/playlists/edit", // 요기에
      type: 'POST',
      data: $("#editForm").serialize(),
      dataType: 'JSON',
      success: function (data) {
        if (data.result == "success") {
          alert("Playlist 정보가 변경되었습니다.");
          location.reload(true);
        } else {
          alert(data.message);
        }
      },
      error: function (xhr, status) {
        alert(xhr + " : " + status);
      }
    });
  }

  function deletePlaylist(plid){
    if(confirm("Playlist will be deleted. Are you Sure?")){
      location.href = "/playlists/delete/" + plid;
    }


  }
</script>


{% endblock %}
